@use "variables";

body {
    margin: 0;
    background-color: variables.$primary;
    color: variables.$black;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

button {
    font-size: 1.5rem;
}